header{
  border: 1px solid #ddd;
}

body{
  margin: 0;
  padding: 0;
  color: #555;
  font-family: 'Source Sans Pro', sans-serif;
}

input{
  border: none;
  outline: none;
}

input:focus{
  outline: none;
}

a{
  text-decoration: none;
  color: #555;
}

.container{
  margin-left: auto;
  margin-right: auto;
}

.icon{
  display: block;
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: cover;
}

.icon-bell{
  background-image: url('img/icons/bell.svg');
}

.icon-add{
  background-image: url('img/icons/add.svg');
}

header{
  height: 60px;
  width: 100%;
  background: #f4f4f4;
}

header .navbar{
  display: flex;
  justify-content: space-between;
}

header .navbar .nav-left, header .navbar .nav-right{
  display: flex;
  flex-basis: 400px;
}

header .navbar .nav-left .logo{
  padding: 20px 14px;
  font-weight: bold;
  color: #999;
  text-decoration: none;
  font-size: 18px;
}

header .navbar .nav-item{
  display: block;
  padding: 14px;
}

header .nav-search{
  color: #555;
  margin: 14px 0;
  font-size: 20px;
  padding: 0 10px;
  position: relative;
}

/*
header .nav-search::before{
  content: ' ';
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('img/icons/search.svg');
  background-size: cover;
  background-position: center;
  background: blue;
  z-index: 99;
}
*/

.app-container{
  background: #f4f4f4;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.app-container .main-content{
  background: #f4f4f4;
  flex: 1;
  padding-left: 14px;
  display: flex;
}

.app-container .side-bar{
  flex-basis: 0px;
  transition: ease-in-out 0.1s;
  background: white;
}

footer{
  border-top: 1px solid #ddd;
  text-align: center;
  padding: 5px 0;
  width: 100%;
}

.board{
  background: white;
  flex-basis: 350px;
  margin-top: 10px;
  border-radius: 3px;
  margin-right: 15px;
}

.board .board-header{
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.board .board-body{
  padding: 0 10px;
}

.board .board-footer{
  padding: 10px;
  display: flex;
}

.board .board-footer .board-button-add{
  display: block;
  margin: auto;
}

.task{
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 8px;
  margin: 10px 0;
}

.task .task-main{
  flex: 1;
}

.task .task-main .task-name{
  font-size: 16px;
}

.task .task-right .task-assign{

}

.task .task-assign img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
